div {
  margin: 3px;
  font-family: "Macondo", cursive;
}

.card-container {
  border-radius: 2px;
  border: 2px solid green;
  height: 95%;
  position: relative;

  .title-container {
    .spell-name {
      font-size: 12pt;
      font-weight: 700;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .spell-level {
    font-size: 10pt;
  }

  .casting-stats {
    font-style: italic;
    font-size: 80%;
    justify-content: space-evenly;
  }

  .spell-source {
    font-size: 10pt;
    font-style: italic;
  }

  .spell-components {
    font-size: 10pt;
  }
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title-container,
.spell-level,
.casting-stats {
  border-bottom: 1px solid green;
}

.bottom-container {
  border-top: 1px solid green;
}
