<div class="card-container">
  <div class="title-container flexbox-container">
    <div class="spell-name">
      {{ spellData.name }}
    </div>
  </div>
  <div class="flexbox-container spell-level space-evenly">
    <div>
      {{ getSpellCastingData() }}
    </div>
  </div>
  <div class="casting-stats flexbox-container">
    <div>
      {{ spellData?.castingTime }}
    </div>
    <div>
      {{ spellData?.range }}
    </div>
    <div>
      {{ spellData?.duration }}
      {{ spellData?.requiresConcentration ? "Concentrazione" : "" }}
    </div>
  </div>
  <div
    class="spell-text-container"
    [ngStyle]="{ 'font-size.px': calculateFontSize() }"
  >
    <div
      class="spell-text"
      [innerHTML]="spellData?.description | diceBoldPipe"
    ></div>
    <div
      *ngIf="spellData?.atHigherLevels"
      class="spell-text-higher-levels"
      [innerHTML]="spellData?.atHigherLevels | diceBoldPipe"
    ></div>
  </div>
  <div class="bottom-container">
    <div class="spell-source">
      {{ spellData?.source }}
    </div>
    <div class="spell-components">
      {{ getComponents() }}
    </div>
  </div>
</div>
