div {
  margin: 3px;
}

.card-container {
  border-radius: 2px;
  border: 2px solid green;
  width: 7cm;
  height: 9cm;
  position: relative;

  .title-container {
    .spell-name {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .casting-stats {
    font-size: 80%;
    div {
      width: 33%;
    }
  }

  .spell-source {
    font-size: 10pt;
    font-style: italic;
  }

  .spell-components {
    font-size: 12px;
  }
}

.bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title-container,
.spell-level,
.casting-stats {
  border-bottom: 1px solid green;
}

.bottom-container {
  border-top: 1px solid green;
}
