<div class="card-container">
  <div class="title-container flexbox-container">
    <div class="spell-name">
      {{ spellData.name }}
    </div>
  </div>
  <div class="flexbox-container spell-level space-evenly">
    <div>
      {{
        spellData?.level === "cantrip"
          ? spellData.school + " " + spellData.level
          : spellData.level + " " + spellData.school
      }}
      {{ spellData.isRitual ? "Ritual" : "" }}
    </div>
  </div>
  <div class="casting-stats flexbox-container space-evenly">
    <div>
      {{ spellData?.castingTime }}
    </div>
    <div>
      {{ spellData?.target }}
    </div>
    <div>
      {{ spellData?.range }}
    </div>
    <div>{{ spellData?.duration }} {{ spellData?.requiresConcentration }}</div>
  </div>
  <div class="spell-text-container">
    <div class="spell-text">
      {{ spellData?.description }}
    </div>
    <div *ngIf="spellData?.atHigherLevels" class="spell-text-higher-levels">
      {{ spellData?.atHigherLevels }}
    </div>
  </div>
  <div class="bottom-container">
    <div class="spell-source">
      {{ spellData?.source }}
    </div>
    <div class="spell-components">
      {{ getComponents() }}
    </div>
  </div>
</div>
