@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}
